/* colors */

:root {
    --darkblue: #26303A;
    --cream: #F7D9B1;
    --orange: #FA6A2F;

}

* {
    background-color: var(--darkblue);
    font-family: 'Robot Mono', monospace;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--orange);
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    padding: 100px 20px 10px 20px;
}

h2, h3 {
    color: var(--cream);
    margin: 10px 0 25px 0;
}

h4 {
    color: #FFF;
}

.container {
    align-items: center;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.gameMessage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreboard {
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    width: 50%;
}

.score {
    margin: 10px 0;
}

.choices {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
}

button {
    cursor: pointer;
}

.btn-choice {
    border: 3px solid var(--orange);
    border-radius: 8px;
    font-size: 48px;
    margin-bottom: 25px;
    padding: 15px 20px;
}

.btn-choice:hover {
    background-color: var(--orange);
}


/* play again button's default behavior is to be hidden
   button should be shown when game is over */
#playAgain {
    visibility: hidden;
}

#play-again-btn {
    border: 3px solid #FFF;
    border-radius: 8px;
    color: var(--orange);
    font-size: 18px;
    padding: 5px 10px;
}